<div class="modal fade" id="modalConfirmacionEliminar" tabindex="1" aria-hidden="true">
    <div class="modal-dialog"> 
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" id="formEliminar"> {% csrf_token %}
                <div class="row">
                    <input type="text" name="id_registro_eliminar" id="id_registro_eliminar" hidden>
                    <h5>Confirme por favor para poder eliminar</h5>
                </div>
                
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm">Si, Eliminar</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
                </div>
                
            </form>
        </div>
    </div>
    
</div>