{% extends 'base/home_newtemplate.html' %}
{% block title %}Registro Notas por Aula{% endblock title %}
{% block form %}
<!-- <script src="/static/vueNotas/vueNotas.js"></script> -->

<div class="row row-cols-12 row-cols-md-12 row-cols-lg-12 row-cols-xl-12">
    <div class="col">
        <h6 class="mb-0 text-uppercase">Registro de Notas por Aula</h6>
        <hr />
        
        <div class="card">
            <div class="card-body">
                
                <form id="formConsulta">{%csrf_token%}
                    <div class="row">
                        <div class="col-md-2">
                            <label for="">GradoNivel</label>
                            <select id="GradoNivel" class="form-select form-select-sm mb-3" name="GradoNivel">
                                <option value="--">--</option>
                                <option value="1PRIM">1PRIM</option>
                                <option value="2PRIM">2PRIM</option>
                                <option value="3PRIM">3PRIM</option>
                                <option value="4PRIM">4PRIM</option>
                                <option value="5PRIM">5PRIM</option>
                                <option value="6PRIM">6PRIM</option>
                                <option value="1SEC">1SEC</option>
                                <option value="2SEC">2SEC</option>
                                <option value="3SEC">3SEC</option>
                                <option value="4SEC">4SEC</option>
                                <option value="5SEC">5SEC</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="">Curso</label>
                            <select name="Cursos" id="Cursos" class="form-select form-select-sm mb3" disabled>
                                <option value="--">--</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="" >Sección</label>
                            <select class="form-select form-select-sm mb-3" id="Seccion" name="Seccion" disabled>
                                <option value="--">--</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                                <option value="G">G</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="">Periodo Académico</label>
                            <select class="form-select form-select-sm mb-3" id="PeriodoAcademico" name="PeriodoAcademico" disabled>
                                {% for p in paca %}
                                    {% if p.Status == 'Activo' %}
                                        <option selected value="{{p.id}}">{{p.Nombre}}</option>        
                                    {% else %}
                                        <option value="{{p.id}}">{{p.Nombre}}</option>        
                                    {% endif %}
                                {% endfor %}
                                <option selected value="--">--</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="">Ano Academico</label>
                            <select name="AnoAcademico" id="AnoAcademico" class="form-select form-select-sm mb-3" disabled>
                                <option value="{{anoglobal.id}}">{{anoglobal.Ano}}</option>
                            </select>
                        </div>
                        
                    </div>
                

                    <div class="row">
                        
                            <table id="Alumnos" class="table table-striped table-bordered"  style="font-size: 11px;">
                                <thead>
                                    <tr>

                                    </tr>  
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        
                    </div>
                </form>
            </div>

        </div>
    </div>

{% endblock %}

{% block js1 %}

    <script>
        
        var alumnos=[];
        function ObtieneDatos() { 
            var inputs="";
            var cantidad=0;
            var veces=0;
            var orden=0;
            alumnos=[];
            var notas=[];
            $("#AnoAcademico").removeAttr('disabled');
            $("#Seccion").removeAttr('disabled');
            var serializedData=$("#formConsulta").serialize();
            $("#Alumnos tbody").html("");


            $.ajax({
                type: "GET",
                url: "ObtenerCompetenciasBimPorAula/"+$("#Cursos").val(),
                dataType: "json",
                success: function (response) {
                    $("#Alumnos thead tr").html("");
                    $("#Alumnos thead tr").append('<th>ID</th><th>NRO</th><th style="width:450px;">NombresyApellidos</th>');
                    //var lista=[[],[]];
                    var lista=[];
                    $.each(response,function (index, item){
                        $("#Alumnos thead tr").append(
                            '<th>'+ item.Competencias__nombre_competencia+'</th>');
                            lista[index]=item.Competencias__id;
                            // lista[0][index]=item.Competencias__id;
                            //despues con otro ajax pondrá el valor de cada nota en todo
                    });
                    
                    ////////////////
                    $.ajax({
                        type: "POST",
                        data: serializedData,
                        url: "AlumnosBimPorAula",
                        dataType: "json",
                        success: function (response) {
                            notas=[];
                            $.each(response,function (index, item) {
                                veces=veces+1;
                                lista.forEach(element => {
                                    cantidad= cantidad+1;
                                });

                                inputs=inputs+'<td><input onkeyup="test('+item.id+')" onblur="desactivar('+item.id+')" onfocus="poner_cursor('+item.id+')" type="text" class="form-control form-control-sm" value='+ item.Nota + ' name=' + item.id+' id='+ item.id+' readonly="readonly"></td>' 
                                notas[veces-1]={'idNota':item.id,'Nota':item.Nota};
                                if (cantidad==veces) {
                                    veces=0;
                                    orden+=1;
                                    $("tbody").append('<tr>\
                                    <td>'+ item.Matricula__id+'</td>\
                                    <td>'+ orden +'</td>\
                                    <td>'+ item.Matricula__Alumno__ApellidoPaterno +' '+ 
                                        item.Matricula__Alumno__ApellidoMaterno +', '+ 
                                        item.Matricula__Alumno__Nombres +'</td>'
                                        + inputs + '</tr>')
                                        alumnos[orden-1]={'idMatricula':item.Matricula__id,'notas':notas}
                                    inputs="";
                                    notas=[];
                                }
                               cantidad=0;
                                
                            });
                            
                        }
                    }); 
                    ////////////////
                }
            });

            $("#AnoAcademico").prop('disabled',true);
        }

        $("#PeriodoAcademico").change(function(){
            ObtieneDatos();
        });

        $("#Seccion").change(function(){ 
            // $("#PeriodoAcademico").val('--');
            $("#Alumnos tbody").html("");
            ObtieneDatos();
            $("#PeriodoAcademico").removeAttr('disabled')
        });

        $("#Cursos").change(function(){
            $("#Seccion").prop('disabled',false)
            $("#Alumnos tbody").html("");
            ObtieneDatos();
        });

        $("#GradoNivel").change(function(){
            $("#Cursos").removeAttr('disabled')

            $("#Alumnos tbody").html("");
            nivel=($("#GradoNivel option:selected").text()).substr(($("#GradoNivel option:selected").text().length)-9,4);
            if (nivel !=='PRIM') {
                nivel='SEC';
            }

            $.ajax({
                type: "GET",
                url: "/notas/ObtenerCursosBimPorAula/"+nivel,
                dataType: "json",
                success: function (response) {
                    $("#Cursos").empty();
                    $("#Cursos").append('<option value=-->--</option>');
                    $.each(response, function (key, item){
                        $("#Cursos").append('<option value="' + item.id + '">' + item.Nivel +"-"+ item.Nombre + '</option>');
                    });                    
                }
            });

        });
        function poner_cursor(id){
            document.getElementById(id).readOnly = false;
            document.getElementById(id).focus();
            document.getElementById(id).select()
        }
        function desactivar(id){
            document.getElementById(id).readOnly = true;
        }

        function test(id){
            var sum=0;
            var prom_final=0;
            var enter=0;
            $("#"+id).keyup(function (e) { 
                // e.preventDefault();
                fila=$(this).closest("tr");
                idMatricula=(fila).find('td:eq(0)').text();
                var num=0;
                var sum=0;
                var prom_final=0;
                alumnos.forEach(alu => {
                    if (alu.idMatricula==idMatricula) {
                        alu.notas.forEach(noti => {
                            num=num+1;
                            if (parseInt(noti.Nota)>0 && parseInt(noti.Nota)<=20) {
                                if (num<alu.notas.length) {
                                    sum=sum + Number($("#"+noti.idNota).val());
                                    prom_final=Math.round(sum/num);
                                }

                                if (num==alu.notas.length) {
                                    $("#"+noti.idNota).val(prom_final);
                                    var serializedData=$("#formConsulta").serialize();
                                    $.ajax({
                                        type: "POST",
                                        url: "GuardarPromedioEditado/"+noti.idNota,
                                        data: serializedData,
                                        dataType: "json",
                                        success: function (response) {
                                            // round_success_noti();
                                        }
                                    });
                                }    
                            }
                            
                        });   
                    }    
                });


                var serializedData=$("#formConsulta").serialize();
                $.ajax({
                    type: "POST",
                    url: "GuardarNotaEditada/"+id,
                    data: serializedData,
                    dataType: "json",
                    success: function (response) {
                        // round_success_noti();
                    }
                });
               
            })
        
         }

    </script>

{% endblock %}